* text=auto
*.dart text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.mjs text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.lock text eol=lf
docs/reference/* -whitespace
*.bat text eol=crlf
